/** font **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/** tailwind css header
 Tailwind의 base, components, utilities 스타일을 tailwind directive를 이용해서 추가 **/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR'; 
  font-size: large;
  min-width: 768px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
