@import 'styles/colors';

.indexMain__searchForm{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexMain__searchForm__button{
  position: absolute;
  margin-left: 12rem;
  display: flex;
  align-items: center;
  pointer-events:none; 
  width: 20px;
  height: 20px;
}
.indexMain__searchButton{
  position: absolute;
  margin-left: 18rem;
  margin-bottom: 5.5rem;
  display: flex;
  align-items: center;

  border-width: 0.5rem;
  border-color: transparent;
  border-radius: 0.5rem;
  background-color: $white-color;
}


.indexMain__searchForm__input{
  border-width: 0.5rem;
  border-color: transparent;
  border-radius: 0.5rem;
  line-height: 1.25rem;
  background-color: $white-color;
  color: $gray-color;  
}

.indexMain__searchForm__input:focus{
  outline: none;    
}
.indexMain__searchForm__keywordContainer{
  z-index: 3;
  border-radius: 0.5rem;
  height: 50vh;
  width: 300px;
  background-color: $white-color;
  position: absolute;
  top: 45px;
  padding: 15px;
}
.indexMain__searchForm__keywordInner{

}
.indexMain__searchForm__keywordInner:hover{
  background-color: $gray-color;
}

.indexMain__searchTag{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexMain__searchTag__text{
  color: $white-color;
  padding: 2rem;
}


.indexMain__searchTag__line{
  background-color: $gray-color;
  width: 2px;
  height: 2rem;
  margin: auto;
}


