.searchContainer{
  display: flex;
  height: 80vh;
}
.searchContainer__sidebar{
  position: relative;
  width: 30%;
}
.searchContainer__main{
  position: relative;
  display: flex;
  /* Take the remaining width */
  /* Make it scrollable */
  width: 70%;
}