@import 'styles/colors';


.navbarSection{
  background-color: $background-color;
}

.navbarSection__navigation{  
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding: 0 4rem;
}
.navbarSection__navigation__inner{
  display: flex;
  margin-left: 1rem;
}

.navbarSection__navigation__innerHidden{
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
}

.navbarSection__navigation__innerContent{
  display: flex;
  justify-items: center;
  padding: 1.5rem 1rem;
  font-weight: bold;
  color: $dark-color;
}
.navbarSection__navigation__innerButton{  
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem;
  padding: 1rem 0.5rem;
  background-color: $medium-color;
  color: $white-color;
  border-radius: 0.25rem;
}

.navbarSection__navigation__innerButton:hover{
  margin: 0.5rem;
  background-color: $bright-color;
  color: $white-color;
  border-radius: 0.25rem;
  transition-duration: 300ms;
}

.navbarSection__auth{  
  margin: auto 0;
  padding: 0 4px
}

// width가 768보다 작아지는 순간부터 적용
// @media all and (max-width: 768px) {
//   .navbarSection__navigation{  
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 100%;
//     height: 100%;
//   }
//   .styles.navbarSection__navigation__innerHidden{
//     display:none;
//   }
// }
