.headerWrap{
  margin: 0;
}
.navbarWrap {
  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(0, 112, 243, 1) 88%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(0, 112, 243, 1) 88%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(0, 112, 243, 1) 88%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070F3', endColorstr='#FFFFFF', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(0, 112, 243, 1) 88%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(0, 112, 243, 1) 88%);
  
  padding: 1rem 6rem;
}
.navbarContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  flex: 1 1;
  align-items: center;
}
  .title {
    margin: 0.5em;
    line-height: 1.15;
    font-size: 1em;
    list-style: none;
  }
  
  
  .title a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  