.headerWrap{
  margin: 0;
}
.navbarWrap {
  /* ff 3.6+ */
  background: #1565c0;
  padding: 0.5em 6rem;
}
.navbarContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  flex: 1 1;
  align-items: center;
}
  .title {
    margin: 0.5em;
    padding: 0.5em;
    line-height: 1.15;
    font-size: 1em;
    list-style: none;
    border: 2px solid #1976d2;
    background-color: #1976d2;
    border-radius: 5px; 
    transition: all 1s;
   }
  
  
  
  .title a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .title:hover,
  .title:focus,
  .title:active {
    text-decoration: underline;
    background-color: #42a5f5;
    border: 2px solid #42a5f5;
    border-radius: 5px;
    transition: all 1s;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  